
  .logo{
  height:110px;
  width:100px;
  border-radius: 50%;
  padding-right:5%;

}
.image{
  height:70%;
  width:80%;
  border-radius: 40%;
  padding-top:7%;

}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  padding-bottom:1%;
  padding-top: 1%;
  background-color: #A5BECC;
  color: white;
  text-align: center;
}
